@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    grid-area: 1 / 1 / 2 / 6;
    font-size: xxx-large;
    text-align: center;

    /*padding: ;*/
    /*margin: ;*/
}

.header .p {
    margin: 0;
}

.content-container {

    margin-left: min(20%, 310px);
    margin-right: min(20%, 310px);
    /*max-width: fit-content;*/
    text-align: center;

}

.logo {
    max-height: 30px;
    max-width: 30px;
}


/*
-------  FONTS  -------
*/
.comfortaa-normal {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.roboto-mono-light {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
