@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300&family=VT323&display=swap');

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    grid-area: 1 / 1 / 2 / 6;
    font-size: xxx-large;
    text-align: center;
}

.header .p {
    margin: 0;
}

.content-container {

    margin-top: min(5%, 10px);
    margin-left: min(20%, 310px);
    margin-right: min(20%, 310px);
    /*max-width: fit-content;*/
    text-align: justify;

}

.logo {
    max-height: 30px;
    max-width: 30px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.5);
}


.logos {
    display: flex;
    text-align: center;
    gap: 5px;
    word-spacing: 1rem;
}

.images {
    position: relative;
    width: 100%; /* Adjust as needed */
    max-height: 300px; /* Adjust as needed */
}

.purnima {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    animation: fadeIn 1s ease-in-out 0s;
}

/*.purnima  {*/
/*    !*position: absolute; !* Stack all images on top of each other *!*!*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%; !* Ensure all images fit the container *!*/
/*    height: auto;*/
/*    opacity: 0; !* Initially hide all images *!*/
/*    !*animation-fill-mode: forwards;*!*/
/*}*/

/*.snap {*/
/*    !*animation: fadeIn 1s ease-in-out 0s; !* Snap appears immediately *!*!*/
/*}*/

/*.purnima-img {*/
/*    !*animation: fadeIn 1s ease-in-out 1s; !* Purnima appears after 1 second *!*!*/
/*}*/

/*.amazon {*/
/*    !*animation: fadeIn 1s ease-in-out 2s; !* Amazon appears after 2 seconds *!*!*/
/*}*/

@keyframes fadeIn {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}


/*
-------  FONTS  -------
*/
.comfortaa-normal {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.roboto-mono-light {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.vt323-regular {
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
}
